<% include partials/header %>
    <h1><%=data.name%></h1>
    <ul>
        <li>Genre: <%=data.genre%></li>
        <li>Description: <%=data.description%></li>
        <li>Location: <%=data.location%></li>
        <li>Provider: <%=data.provider%></li>
    </ul>
<% include partials/footer %>